<div class="bg_test">
  <div class="line-login">
    <%= link_to (user_line_omniauth_authorize_path),class: "line-login__btn" do %>
          <%= image_tag( "line_64.png") %>
    <% end %>
  </div>
</div>
