<main class="mdl-layout__content">
    <div class="site-content">
        <div class="container">
            <div class="mdl-grid site-max-width">
                <%= render :partial => "book",:collection => @books,:as => "user_book"%>
            </div>
        </div>
    </div>
</main>
