<div class="container">
  <div class="section">
    <div class="row">
        <div class="col s12">
            <div class="col s12">
                <h3 class="title">
                    <%= "#{current_user.name}さんの本棚"%>
                </h3>
            </div>
            <%= render :partial => "book",:collection => @books,:as => "user_book"%>
        </div>
    </div>
  </div>
</div>
