<div class="row">
    <div class="col s6 offset-s6">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
          <input type="text" id="autocomplete-input" class="autocomplete books-input">
          <label for="autocomplete-input">本のタイトルを入力してください</label>
          <button type="submit" id="book-search">検索</button>
        </div>
      </div>
    </div>
</div>
<div class="row" id="book-search-result">
</div>
