<table class="table">
  <thead>
    <tr>
      <th class="h4">memo</th>
    </tr>
  </thead>
  <tbody>
    <%@memos.each do|memo|%>
    <tr>
      <td>
      <%=memo.body%>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>

