<div class="container">
  <div class="section">
    <div class="row">
        <div class="col s12">
            <div class="col s12">
                <h5 class="title">
                    <%= "#{@book_title}のメモ一覧"%>
                </h5>
            </div>
            <%= render :partial => "memo",:collection => @memos,:as => "memo"%>
            <div class="col s12">
              <%= paginate(@memos) %>
            </div>
        </div>
    </div>
  </div>
</div>
